* {
  margin: 0 auto;
  padding: 0;
  width: auto;
  font-family: 'Lato', sans-serif;
}

html {
  background-color: #f2f2f2;
}

img { 
  pointer-events: none; 
  user-select: none;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 10px;
}

li {
  list-style-type: none;
  display: inline;
}

h1 {
  font-size: 82px;
}

h2 {
  font-size: 33px;
  padding-bottom: 10px;
  font-weight: 900;
}

h3 {
  font-size: 15px;
  font-weight: 400;
}

.lato-bold {
  font-weight: bold;
}

.lato-black {
  font-weight: 900;
}

.lato-regular {
  font-weight: 400;
}

button {
  margin-top: 42px;
  padding: 9px 14px;
  border: 0;
  border-radius: 15px;
  background-color: #019edb;
  color: white;
  font-size: 15px;
  font-weight: bold;
}

header {
  display: inline;
  margin: 0;
}

header div {
  display: inline;
}

header a {
  padding: 19px;
  color: black;
}

header a:active {
  color: white;
  background: rgba(0, 0, 0, 0.15);
  border-radius: 7px;
}

.site-bar {
  float: right;
  position: relative;
  margin: 35px 156px 0 0;
  font-size: 13px;
}

.img-logo {
  position: absolute;
  top: 18px;
  left: 100px;
  z-index: 4;
}

.logo-backgr-black {
  position: absolute;
  width: 100%;
  max-width: 161px;
  height: 81px;
  background-color: #1b1b1b;
  clip-path: polygon(0 0, 100% 0, 50% 100%);
  left: 355px;
  z-index: 2;
}

.logo-backgr-blue {
  position: absolute;
  width: 100%;
  max-width: 365px;
  height: 184px;
  background-color: #019edb;
  clip-path: polygon(0 0, 100% 0, 50% 100%);
  left: 91px;
  z-index: 3;
}

.s1 {
  width: 100%;
  overflow: hidden;
  /* margin: 0 -10%;
  padding-right: 7px; */
  z-index: 1;
}

.rhombus {
  clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
}

.form-opacity {
  position: absolute;
  width: 150px;
  height: 150px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #019edb;
}

.form-opacity div {
  padding: 20px 45px;
}

.page1 {
  position: relative;
  float: right;
  margin-left: 100%;
  clip-path: polygon(61% 5%, 100% 55%, 61% 105%, 25.5% 55%);
  top: -39px;
  left: 7px;
  z-index: 1;
}

.form-blue {
  position: absolute;
  width: 103px;
  height: 103px;
  background-color: #019edb;
  top: 211px;
  right: 734px;
}

.form-black {
  position: absolute;
  background-color: #1b1b1b;
  width: 100%;
  max-width: 567px;
  height: 567px;
  color: white;
  top: 235px; /* -87px от верха по psd */
  right: 641px;
  z-index: 3;
}

.text-form-black {
  padding: 172px 162px;
}

.b1-form-black:focus {
  outline: none;
}

.form-blue-big {
  position: absolute;
  background-color: #019edb;
  width: 100%;
  max-width: 500px;
  height: 500px;
  color: white;
  top: 655px;
  right: 528px;
  z-index: 4;
}

.page2 {
  position: absolute;
  clip-path: polygon(574px 53px, 100% 346px, 574px 640px, 281px 346px);
  top: 550px;
  right: 200px;
  z-index: 2;
}

.text-form-blue {
  padding: 72px 109px;
}

.backgr-wall {
  position: absolute;
  width: 100%;
  min-height: 1350px;
  clip-path: polygon(17.5% 2px, 82.5% 2px, 100% 250px, 100% 100%, 0 100%, 0 250px);
  top: 550px;
  z-index: 0;
}

.content-s2{
  position: relative;
  text-align: center;
  top: 260px;
  color: white;
}

.info-blocks {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.info-block {
  background-color: rgb(65, 65, 65, 0.5);
  width: 261px;
  height: 142px;
  margin: 30px;
  padding: 30px;
  text-align: left;
}

.s2 .info-blocks {
  max-width: 880px;
}

.decor-delimiter {
  position: absolute;
  background-color: white;
  width: 21px;
  height: 128px;
}

.s2 .decor-delimiter, .s5 .decor-delimiter {
  left: 49.5%;
}

.one_dd {
  clip-path: polygon(10px 0, 12px 0, 12px 43px, 10px 43px);
}

.two_dd {
  clip-path: polygon(11px 54px, 21px 64px, 11px 73px, 1px 64px);
}

.three_dd {
  clip-path: polygon(10px 84px, 12px 84px, 12px 128px, 10px 128px);
}

.s2 button {
  margin-top: 100px;
}

.s3 {
  position: relative;
  top: 400px;
  height: 1600px;
  overflow: hidden;
}

.page3 {
  position: relative;
  left: -200px;
}

.backgr-wall-2 {
  position: absolute;
  width: 100%;
  height: 1300px;
  top: 500px;
  clip-path: polygon(0 0, 50% 730px, 100% 0, 100% 100%, 0 100%);
}

.s3 .form-opacity {
  width: 269px;
  height: 269px;
  top: 455px;
  right: 50%;
  transform: translate(-97px, 0);
}

.s3 .form-opacity div {
  padding: 80px 110px;
}

.form-white {
  position: absolute;
  background-color: white;
  width: 533px;
  height: 533px;
  top: 545px;
  left: 50%;
  transform: translate(-50%, 0);
}

.text-form-white {
  text-align: center;
  color: black;
  padding: 192px 132px;
}

.page4 {
  position: absolute;
  top: 670px;
  right: 50%;
  transform: translate(-72px, 0);
}

.page5 {
  position: absolute;
  top: 670px;
  left: 50%;
  transform: translate(72px, 0);
}

.text-s3 {
  position: relative;
  text-align: center;
  color: white;
  margin: 0 20%;
}

.s4 {
  position: relative;
  top: 300px;
  height: 700px;
  background-color: black;
}

.s4 .info-blocks {
  margin: 60px 3% 0;
}

.s4 .info-block {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0 5px;
  width: 350px;
  height: auto;
  background: none;
  z-index: 1;
  color: white;
}

.s4 .info-block img {
  height: 73px;
  padding-right: 15px;
}

.s4 .info-block h2 {
  color: #019edb;
  font-size: 22px;
}

.page6 {
  position: absolute;
  right: 0;
}

.s4 .form-opacity, .s5 .form-opacity, footer .form-opacity {
  top: 90px;
  left: 50%;
  transform: translate(-50%, 0);
}

.content-s4, .content-s5, .content-footer {
  position: relative;
  text-align: center;
  color: white;
  padding-top: 210px;
}

.s4 .one {
  left: 32%;
}

.s4 .two {
  right: 32%;
}

.s5 {
  position: relative;
  top: 235px;
  height: 630px;
  color: white;
  background-color: #0e0c0b;
}

.page7 {
  position: absolute;
  right: 0;
}

.s5 .info-blocks {
  justify-content: space-around;
}

.s5 .info-block {
  background: none;
  width: 400px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.s5 .first_info-block {
  text-align: right;
}

.s6 {
  position: relative;
  top: 235px;
  background-color: #019edb;
  
}

.SM_icons {
  display: flex;
  height: 155px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.SM_icon {
  margin: 3px;
}

footer {
  position: relative;
  top: 234px;
  height: 580px;
  background: url(PNG/backgr_wall.png) repeat-x;
}

footer .info-blocks {
  margin: 0px;
  justify-content: center;
}

footer .info-block {
  background: none;
  display: flex;
  width: 320px;
  padding: 0;
  margin-left: 0;
  align-items: center;
  margin-bottom: 0;
}

.scroll_top {
  position: absolute;
  background-color: #019edb;
  width: 123px;
  height: 62px;
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.scroll_top_text {
  color: white;
  padding: 30px 0 0 47px;
}





@media screen and (min-width: 1570px) {
  .page1 { left: -200px; }
  .form-blue { right: 934px; }
  .form-black { right: 841px; }
  .page2 { right: 400px; }
  .form-blue-big { right: 728px; }
}


@media screen and (max-width: 1315px) {
  .site-bar { margin-right: 100px; }
}


@media screen and (max-width: 1260px) {
  .site-bar { margin-right: 50px; }
}


@media screen and (max-width: 1224px) {
  .page1 {
    float: left;
    margin: 0;
  }

  .page2 {
    left: 128px;
  }

  .form-blue {
    left: 371px;
    top: 211px;
  }

  .form-black { left: 0; }
}


@media screen and (min-width: 681px) and (max-width: 1224px) {
  .form-blue-big { left: 180px; }
}


@media screen and (max-width: 1210px) {
  .site-bar { display: none; }
  .s1 { padding-top: 73px; }
}


@media screen and (max-width: 1024px) {
  .page1 {
    float: left;
    clip-path: none;
    top: -150px;
    left: -266px;
  }

  .page2 { display: none; }
  .form-blue { display: none; }
}


@media screen and (max-width: 680px) {
  .logo-backgr-blue { left: 0; }
  .logo-backgr-black { left: 264px; }
}


@media screen and (min-width: 1441px) {
  .backgr-wall {
    clip-path: polygon(25% 2px, 75% 2px, 100% 28%, 100% 100%, 0 100%, 0 28%);
  }
}


@media screen and (min-width: 1670px) {
  .page3 { left: 0; }
}


@media screen and (min-width: 1852px) {
  .backgr-wall {
    clip-path: polygon(28% 2px, 72% 2px, 100% 31%, 100% 100%, 0 100%, 0 31%);
  }
}


@media screen and (min-width: 1870px) {
  .s3 {
    background-color: #004d5a;
    width: 100%;
  }
  
  .page3 { 
    left: 50%;
    transform: translate(-50%, 0);
    width: 2048px;
  }

  .backgr-wall-2 {
    top: 400px;
    height: auto;
    left: 50%;
    transform: translate(-50%, 0);
    clip-path: polygon(0 0, 50% 830px, 100% 0, 100% 100%, 0 100%);
  }

  .text-s3 {
    top: -120px;
  }
}


@media screen and (max-width: 680px) {
  .form-blue-big {
    top: 518px;
    clip-path: polygon(0 50%, 100% 0, 100% 100%);
  }

  .text-form-blue {
    padding-right: 0;
  }
}


@media screen and (max-width: 567px) {
  .form-blue-big {right: 0;}
}


@media screen and (min-width: 568px) and (max-width: 680px) {
  .form-blue-big { left: 283px; }
}


@media screen and (max-width: 761px) {
  .s2 .info-blocks { 
    margin-top: 10px; 
    justify-content: center;
  }

  .content-s2 { top: 200px; }
  .s2 .info-block {margin: 5px 30px; }
  .s2 .decor-delimiter { display: none; }
  .s2 button { margin-top: 70px; }
}


@media screen and (max-width: 1148px) {
  .s4 .decor-delimiter { display: none; }
}


@media screen and (max-width: 1039px) {
  .s5 .decor-delimiter { display: none; }
}


@media screen and (max-width: 1096px) {
  .page3 { left: -400px; }
}

@media screen and (max-width: 900px) {
  .page3 { left: -700px; }
}


@media screen and (max-width: 580px) {
  .page3 { left: -830px; }
}


@media screen and (max-width: 680px) {
  .text-form-blue {
    padding: 0;
    text-align: right;
  }

  .form-blue-big {
    padding-right: 5px;
  }

  .restriction-blue {
    float: left;
    width: 100%;
    height: 100%;
    clip-path: polygon(0 0, 100% 0, 0 50%, 100% 100%, 0 100%);
    shape-outside: polygon(0 0, 100% 0, 0 50%, 100% 100%, 0 100%);
  }
}


/* Адаптив содержимого для .form-black */
@media screen and (max-width: 529px) {
  .text-form-black { padding: 152px 130px; }
  .text-form-black div {text-align: center;}
  .text-form-black button { margin-top: 10px;}
}

@media screen and (max-width: 484px) {
  .text-form-black { padding: 142px 95px; }
}

@media screen and (max-width: 422px) {
  .text-form-black { padding: 132px 77px; }
  .text-form-black h2 {font-size: 24px;}
  .text-form-black h3 {font-size: 14px;}
}

@media screen and (max-width: 395px) {
  .text-form-black { padding: 115px 60px 115px 77px; }
  
  .text-form-black button { 
    padding: 5px 9px;
    font-size: 14px;
  }
}